body{
  border: 2px solid black;
  margin: 0%;
  padding: 0%;
  display: flexbox
}
.text-box{
  border: 2px solid blue;
 padding: 1%;

color: #0A3871;
font-family: Inter;
font-size: 25px;
}

.btn-box{
  border: 2px solid blue;
  
}

.btn-1{
  width: 328px;
  border-radius: 24px;
  background: var(--Dark-blue-dark-blue-300, #0A3871);
  }
  .btn-2{
    width: 328px;
    border-radius: 24px;
    background: var(--Dark-blue-dark-blue-300, #0A3871);
    }

.btn-text{
  color: white;
  font-size: large;
}
input {
  padding: 2%;
  width: 95%;

}
.view {
  color: #0A3871;
font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 48px */
}
