body{
  margin: 0%;
  padding: 0%;
  display: flexbox;
  background-image: url(https://miro.medium.com/v2/resize:fit:1400/1*tjHTmF_1SUY6_pykU6_VpQ.gif);
  background-size: cover;
}
.text-box{

 padding: 1%;
 margin: 4%;

color: #0A3871;
font-family: Inter;
font-size: 25px;
}

.btn-box{
  
  margin: 4%;
  padding: 2%;
  align-items: center;
  
}

.btn{
  background: #0A3871;
  width: 100%;

  }
  
.btn-text{
  color: white;
  font-size: large;
}
input {
  padding: 2%;
  width: 95%;

}
.view {
margin: 4%;
color: yellow;
font-family: Inter;
font-size: 130%;
font-style: normal;
line-height: 150%; /* 48px */
padding: 1%;
text-align: center;
background-color: black;
}

h1 {
  display: flex;
  align-items: center;
  color: #f6f7f8;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  size: 50%;
  background-color: black;
}
