body{
  border: 2px solid black;
  margin: 0%;
  padding: 0%;
  display: flexbox
}
.text-box{
  border: 2px solid blue;
 padding: 1%;
 margin: 4%;

color: #0A3871;
font-family: Inter;
font-size: 25px;
}

.btn-box{
  border: 2px solid blue;
  margin: 4%;
  padding: 2%;
  align-items: center;
  
}

.btn{
  background: #0A3871;
  width: 100%;

  }
  
.btn-text{
  color: white;
  font-size: large;
}
input {
  padding: 2%;
  width: 95%;

}
.view {
border: 2px blue solid;
margin: 4%;
color: #0A3871;
font-family: Inter;
font-size: 130%;
font-style: normal;
line-height: 150%; /* 48px */
padding: 1%;
}
